@use "sass:map";

@function fluid-width($pref, $max, $min: 60ch) {
  @return clamp($min, $pref, $max);
}

@function header-width() {
  @return 1024px;
}

@function content-width() {
  @return 820px;
}

$padding-inline: 1rem;
$header-height: 3rem;

$breakpoints: (
  sm: 36rem,   // 576px
  md: 48rem,   // 768px
  lg: 64rem,   // 1024px
  xl: 80rem    // 1280px
);
@function mq($from){
  @return map.get($breakpoints, $from);
}
