@use "../theme" as *;

.highlight,
pre {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: pre;
  border-radius: 0.5rem;
  background: theme(bg-code);
  color: theme(code);
}

code {
  font-size: 0.9rem;
  line-height: 1.5;
}
