@use "sass:math";
@use "../theme" as *;

$rings: 7;
$ring-scale-max: 1;
$ring-scale-min: 0.3;
$ring-scale-step: math.div($ring-scale-max - $ring-scale-min, $rings - 1);

$ring-color: rgba(210, 180, 140, 0.25);
$ring-size-min: 260px;
$ring-size-max: 65rem;

.rings {
  position: absolute;
  left: 50%;
  bottom: clamp(1.5rem, 7vw, 4rem);
  width: clamp($ring-size-min, var(--layout-header-width, min(100%, 72rem)), $ring-size-max);
  aspect-ratio: 1;
  transform: translateX(-50%) rotateX(68deg);
  display: grid;
  place-items: center;
  pointer-events: none;
  filter: brightness(0.85);
  z-index: -1;

  --rings-border-base: clamp(3px, 0.8vw, 14px);

  @for $i from 1 through $rings {
    $scale: $ring-scale-max - (($i - 1) * $ring-scale-step);

    .ring-#{$i} {
      position: absolute;
      inset: 0;
      border: calc(var(--rings-border-base) / #{$scale}) solid $ring-color;
      border-radius: 50%;
      transform: scale($scale);
      transform-origin: center;
      z-index: $rings - $i;
    }
  }
}
