@use "sass:color";
@use "../vars" as v;
@use "../theme" as *;

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.content {
  // margin-inline: auto;
  padding-block: 2rem;
  box-sizing: border-box;
  min-block-size: calc(100dvh - v.$header-height);
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

.section-rule {
  border: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    color.adjust(#7a1a1a, $alpha: -0.2) 40%,
    transparent
  );
  max-inline-size: v.content-width();
  margin: 1.25rem auto 0.75rem;
}

hr {
  width: 100%;
}
