@use "../vars" as v;
@use "../theme" as *;

.shell {
  margin-inline: auto;
  box-sizing: border-box;
  padding: v.$padding-inline;
}

.shell--wide {
  max-width: v.header-width()
}


.shell--narrow {
  max-width: v.content-width()
}

.inner {
  // display: flex;
  justify-content: center; /* центрует содержимое по горизонтали */
  align-items: center;     /* центрирует по вертикали */
  width: 100%;
  min-height: 80vh;
}

.content {
  padding-block: 2rem;
  min-block-size: calc(100dvh - v.$header-height);
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.page-title {
  text-align: left;
  margin-block-end: 0.2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

.section-rule {
  border: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    theme(divider-glow) 40%,
    transparent
  );
  max-inline-size: v.content-width();
  margin: 1.25rem auto 0.75rem;
}

hr {
  width: 100%;
}
